/* About */
.section.about {
  white-space: normal;
  color: #eeeeee;
  height: 100%;
}
.me-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/Ronald Terblanche _edit.JPG");
  background-size: cover;
  background-position-x: center;
  width: 300px;
  height: 400px;
}
.vertical-hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
}
.horizontal-hobbies {
  display: flex;
  align-items: center;
}
.down-to-up-hobby {
  text-orientation: mixed;
  writing-mode: vertical-lr;
}

.about-heading {
  margin-left: 8%;
  margin-top: 12%;
  margin-bottom: 5%;
  font-size: clamp(31px, 5vw, 90px);
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}
.about-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  font-weight: 200;
  margin-left: 10%;
  margin-right: 8%;
}
.bio-container {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: white;
  padding-right: 5%;
  margin-left: 0;
}
.about p.bio {
  margin-left: 10%;
  margin-top: 20%;
}
.about .code-pass {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 100;
  width: 50%;
  margin-top: 50px;
  margin-left: 11.5%;
  color: white;
}
p.skills-heading {
  margin-left: 15%;
  margin-top: 15%;
  margin-bottom: 5%;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: clamp(30px, 5vw, 50px);
}
.soft-skills {
  display: flex;
  flex-direction: row;
  align-content: center;
  font-family: "Roboto", sans-serif;
  margin-left: 50%;
  font-size: clamp(20px, 5vw, 30px);
  font-weight: 100;
  color: #eeeeee;
}
.soft-skills p {
  text-align: right;
}
.soft-skills div:last-of-type {
  align-self: center;
  margin-left: 20px;
  text-orientation: mixed;
  writing-mode: vertical-lr;
}
.soft-skills div:last-of-type::after {
  width: 100%;
}
.technical {
  margin-left: -50px;
}
.technical-skills {
  display: flex;
  flex-direction: row;
  align-content: center;
  font-family: "Roboto", sans-serif;
  margin-top: 3%;
  font-size: clamp(20px, 5vw, 30px);
  font-weight: 100;
  color: #eeeeee;
}
.technical-skills div:first-of-type {
  display: inline-block;
  margin-left: 15%;
  transform: rotate(-90deg);
}
.technical-skills div:last-of-type {
  margin-left: -75px;
}
/* Education and Experience */
.section.work {
  color: #eeeeee;
  height: 100%;
  padding: 0 100px 0 0;
}
p.education-heading {
  font-size: clamp(35px, 5vw, 90px);
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin-top: 12%;
  margin-left: 8%;
}
.education-content {
  margin-top: 5%;
  margin-left: 26%;
  font-family: "inter", sans-serif;
  max-width: 900px;
}
.time {
  font-size: 18px;
  font-weight: 100;
}
.what {
  font-family: "inter", sans-serif;
  font-size: clamp(25px, 5vw, 40px);
  font-weight: 200;
  margin-bottom: 20px;
}
.description {
  font-family: "inter", sans-serif;
  font-weight: 200;
  font-size: clamp(18px, 5vw, 20px);
}
.experience-content-container {
  text-align: end;
}
.experience-heading {
  font-size: clamp(35px, 5vw, 90px);
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin-top: 14%;
  margin-right: 2%;
}
.experience-content {
  margin-top: 5%;
  margin-left: 20%;
  max-width: 900px;
}
