/* Contact */
.contact {
  white-space: normal;
  padding: 0 0 0 5%;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.email-text {
  align-self: center;
  color: #eeeeee;
}
.email {
  font-size: clamp(20px, 5vw, 40px);
}
.lets {
  font-size: 20px;
  font-weight: 100;
}
#form {
  margin-right: 15%;
  width: 26vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 4px;
}
.contact-form-heading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10%;
  color: #eeeeee;
}
.contact-label {
  display: none;
}
.contact-input {
  text-align: start;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 50px;
  background: transparent;
  border: none;
  border-bottom: solid 1px #eeeeee3f;
  color: #eeeeee;
  outline: none;
  font-size: 15px;
  font-weight: 200;
  font-family: "inter", sans-serif;
}
.message {
  height: 150px;
  resize: none;
}

.contact-input::placeholder {
  font-weight: 200;
  font-family: "inter", sans-serif;
  text-align: start;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: 5%;
}
.contact button {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  font-family: "inter", sans-serif;
  font-size: clamp(20px, 5vw, 2px);
  font-weight: 200;
  align-self: center;
  transition-duration: 0.4s;
  background: rgba(17, 17, 17, 0);
  border: none;
  border-bottom: none;
  color: #eeeeee;
  outline: none;
}
.contact button::after {
  outline: none;
  display: block;
  position: absolute;
  bottom: 50%;
  content: "";
  height: 1px;
  width: 0%;
  background: #eeeeee;
  transition: 0.2s linear;
}
button:hover::after {
  width: 100%;
}
