/* Landing page */
.home-social {
  position: absolute;
  top: 10px;
  right: 60px;
}
a {
  color: #eeeeee;
}
.home-social a {
  text-decoration: none;
  color: #eeeeee;
  margin-left: 20px;
  display: inline-block;
  position: relative;
}
.home-social a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  bottom: 50%;
  position: absolute;
  background-color: #eeeeee;
  transition: 0.2s linear;
}
.home-social a:hover::after {
  width: 100%;
}

.myMenu {
  position: fixed;
  bottom: 100px;
  right: 60px;
  text-align: right;
  list-style: none;
  z-index: 9999;
  transition: 0.3s ease-in;
}
.myMenu li a {
  text-decoration: none;
  color: #eeeeee;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}
.myMenu a::after {
  content: "";
  display: block;
  bottom: 50%;
  width: 0;
  height: 1px;
  background: #eeeeee;
  position: absolute;
  transition: 0.3s linear;
}
.myMenu a:hover::after {
  width: 100%;
}
.navbutton {
  display: none;
  color: #eeeeee;
  cursor: pointer;
  z-index: 9999;
}
.home {
  background: #111;
  background-attachment: fixed;
  color: #eeeeee;
  letter-spacing: 2px;
  font-size: 15px;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
.home-animation {
  padding: 120px;
  background: #e9e2c3;
  border-radius: 50%;
  animation: border-change 8s infinite;
}
.name {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
}

.home p:last-of-type {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: left;
  font-size: 70px;
}
