/* General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  max-width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  width: fit-content;
  font-family: "inter", sans-serif;
  background-color: #111;
  overflow-x: hidden;
  max-width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noise-filter {
  width: 100vw;
  height: 100vh;
  background: url("https://i.gifer.com/WmZ0.gif");
  position: fixed;
  pointer-events: none;
  opacity: 0.06;
  z-index: 99999999;
}
.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #111;
  z-index: 10000;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  transition: 1.5s ease-in-out;
}
.letter {
  margin-right: 10px;
}

.loader.hide {
  opacity: 0;
  pointer-events: none;
}

@keyframes loadingBlur {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(3px);
  }
}

.letterOne {
  animation: loadingBlur 1s linear alternate infinite;
}

.letterTwo {
  animation: loadingBlur 1s 0.1s linear alternate infinite;
}

.letterThree {
  animation: loadingBlur 1s 0.2s linear alternate infinite;
}

.letterFour {
  animation: loadingBlur 1s 0.3s linear alternate infinite;
}

.letterFive {
  animation: loadingBlur 1s 0.4s linear alternate infinite;
}

.letterSix {
  animation: loadingBlur 1s 0.6s linear alternate infinite;
}

.letterSeven {
  animation: loadingBlur 1s 0.7s linear alternate infinite;
}
div.cursor {
  pointer-events: none;
  position: fixed;
  top: -26px;
  left: -26px;
  width: 26px;
  height: 26px;
  background: white;
  mix-blend-mode: difference;
  will-change: opacity;
  opacity: 0;
  z-index: 10001;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.375, 1.085, 0.42, 1.275);
  animation: mouseOutAnimate 0.5s linear forwards;
}

.cursor.active {
  transition: 0.3s ease-out;
  animation: mouseOverAnimate 0.5s linear forwards;
}

@keyframes mouseOverAnimate {
  0% {
    width: 26px;
    height: 26px;
  }
  34% {
    width: 12px;
    height: 12px;
  }
  67% {
    width: 70px;
    height: 70px;
  }
  100% {
    width: 60px;
    height: 60px;
  }
}

@keyframes mouseOutAnimate {
  0% {
    width: 60px;
    height: 60px;
  }
  34% {
    width: 70px;
    height: 70px;
  }
  67% {
    width: 12px;
    height: 12px;
  }
  100% {
    width: 26px;
    height: 26px;
  }
}
.color-invert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 9999999999;
  mix-blend-mode: difference;
  pointer-events: none;
}
